body {
	min-height: 100vh;
	margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* background: url('./assets/flowers.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
}

h1, p {
	margin: 0;
	padding: 0;
}
